<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Märzwasser - responsive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7098702430898545"
     data-ad-slot="2346433541"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<br>
<p>
  Website Copyright (unless specified in-article) &copy; {{ site.time | date: "%Y" }} - {{ site.author }} |
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a> | Themed with <a href="https://github.com/TheChymera/Koenigspress">Königspress</a> | Hosted via <a href="http://www.dreamhost.com/r.cgi?562504">Dreamhost</a></span>
</p>
